@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.container{
    background-color: var(--sidebar-color);
    height: 200px;
    padding: 2% 5%;
    box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.grid-container{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item-3{
    grid-area: 1 / 3 / span 2 / span 2;
    height: 100%;
}

.item-6{
    grid-area: 3 / 1 / span 2 / span 2;
    height: 100%;
}

.item-7{
    grid-area: 3 / 3 / span 2 / span 2;
    height: 100%;
}

.card{
    background-color: var(--sidebar-color);
    border-radius: 10px;
    padding-block: 20px ;
    padding-inline: 15px ;
}

.card1{
    background-color: var(--sidebar-color);
    border-radius: 10px;
    padding-inline: 15px ;
}

.m-20{
    margin-top: 20px;
}

.m-32{
    margin-top: 32px;
}

.title-card{
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: white;
    min-width: 100px;
    width: fit-content;
    padding-inline: 10px;
    height: 25px;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 12px;
}

.form-area{
    display: flex;
    position: relative;
}

.form-button{
    position: absolute;
    right: 0;
    bottom: 0;
}

.clickable{
    cursor: pointer;
}

#tbl{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
}

#tbl thead{
    height: 35px;
}

#tbl th {
    background-color: #345678;
    outline: 1px solid#345678;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}

#tbl th:first-child{
    border-left: 1px solid var(--color-secondary);
}

#tbl th:first-child{
    text-align: center;
}

#tbl tbody tr{
    border-bottom: 1px solid var(--color-tertiary);
}
#tbl tbody td{
    padding-block: 10px;
}

.search{
    margin-top: 24px;
}

.center-text{
    text-align: center;
}

.table-container{
    border-radius: 10px;
    overflow: scroll;
    margin-top: 16px;
    border-inline: 1px solid var(--color-tertiary);
    height: 500px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.button-secondary{
    background-color: var(--background-color);
    border: 0.5px solid #587693;
    border-radius: 5px;
    width: 175px;
    font-size: 12px;
    color: var(--color-primary);
    font-weight: 600;
    height: 30px;
    display: grid;
    align-items: center;
}

.title-card2{
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: white;
    min-width: 100px;
    width: fit-content;
    padding-inline: 10px;
    height: 30px;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-weight: 400;
    outline: 0;
    border: 0;
}

label{
    color: #0C2A58;
    font-size: 14px;
    font-weight: 500;
}

input[type="text"]{
    border-radius: 10px;
    border: 0.5px solid #587693;
    width: 275px;
    height: 30px;
    padding-left: 5px;
    color: #345678;
    font-weight: 500;
}

input[type="email"]{
    border-radius: 10px;
    border: 0.5px solid #587693;
    width: 275px;
    height: 30px;
}

::placeholder{
    padding: 8px;
    font-size: 10px;
    font-weight: 600px;
    color: #5D7893;
    display: grid;
    align-items: center;
}

.reset-table{
    color: #274B6F;
    font-size: 16px;
    font-weight: 500;
}

.reset-table-content{
    color: #5D7893;
    font-size: 12px;
    font-weight: 500;
}

.title-card-reset{
    background-color: #D74545;
    border-radius: 5px;
    color: white;
    min-width: 100px;
    width: fit-content;
    padding-inline: 10px;
    height: 25px;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 12px;
}

.grid-container-pengaturan{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px;
    width: 800px;
}

.store{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.pengaturan-username{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pengaturan-rb{
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

select.select-style{
    border-radius: 10px;
    border: 1px solid #587693 !important;
    height: 30px;
    width: 300px;
    font-size: 12px;
    color: #274B6F;
    padding-left: 4px;
}

#select-multiple + .select2-container{
    border-radius: 10px;
    border: 1px solid #587693 !important;
    height: fit-content;
    color: #587693;
}

.select2-selection--multiple{
    border: none !important;
    background-color: transparent !important;
}

.cari
{
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: white;
    width: 75px;
    padding-inline: 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 8px;
}

.import
{
    background-color: #FAC822;
    border-radius: 5px;
    color: white;
    width: 75px;
    padding-inline: 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 8px;
}

.export
{
    background-color: #60CA4F;
    border-radius: 5px;
    color: white;
    width: 75px;
    padding-inline: 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 8px;
}

.delete
{
    background-color: #BB1818;
    border-radius: 5px;
    color: white;
    width: 75px;
    padding-inline: 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 8px;
}

input[type="radio"] {
    accent-color: #274B6F;
    border: 0px;
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"] {
    accent-color: #274B6F;
    width: 16px;
    height: 16px;
  }

  input[type="time"] {
    accent-color: #274B6F;
    width: 132px;
    height: 30px;
    border-radius: 10px;
    border: 0.5px solid #587693;
    padding-left: 8px;
    padding-right: 8px;
  }

.form-area.reset{
    margin-top: 12px;
    margin-block: 12px;
    padding-bottom: 40px;
}

input:focus {
    outline-color: #345678;
  }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: white !important;
    border: 1px solid #587693 !important;
    font-size: 12px;
    font-weight: 500;
    color: #274B6F !important;
}

td{
    font-size: 13px;
    color: #587693;
    font-weight: 500;
}

#tbl button{
    background-color: #5AA0D4;
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding-inline: 10px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
}

button#prevButton{
    display: grid;
    align-items: center;
    border: none;
    background-color: transparent;
}

button#nextButton{
    display: grid;
    align-items: center;
    border: none;
    background-color: transparent;
}


.page{
    display: flex;
    justify-content: flex-end;
    margin: 12px;
    gap: 20px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

.pagination-active {
    color: var(--color-primary);
}

input[type="number"] {
    accent-color: #274B6F;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 0.5px solid #587693;
    padding-left: 8px;
    padding-right: 8px;
  }

.pb-mapel{
    height: 10px;
    border-radius: 10px;
    border: none;
}

.pb-mapel2{
    height: 15px;
    border-radius: 10px;
    border: none;
}

.pb-persen{
    text-align: end;
    font-size: 8px;
    color: white;
    padding-right: 8px;
    padding-top: -1px;
}

.pb-all-mapel{
    margin: 12px;
}

.pb-title{
    font-size: 16;
    font-weight: 500;
    color: #0C2A58;
}

.pb-persen2{
    text-align: end;
    font-size: 10px;
    color: white;
    padding-right: 8px;
    padding-top: -1px;
}

.content-peringatan{
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
    height: 45px;
    padding-left: 12px;
    font-size: 10px;
    align-items: center;

}

.content-peringatan:nth-child(even){
    color: #5D7893;

}

.content-peringatan:nth-child(odd){
    background-color: #5D7893;
    color: white;
}

.center-text1{
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: white;
    min-width: 100px;
    width: fit-content;
    padding-inline: 10px;
    height: 25px;
    font-size: 12px;
    display: grid;
    place-items: center;
    font-weight: 400;
    outline: 0;
    border: 0;
    margin-left: 12px;
}

h2#title-penjadwalan{
    font-size: 16px;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.table-check{
    border-collapse: collapse;
    border-spacing: 0;
}

.table-check tbody tr{
    height: 75px;
}

.table-check thead th{
    background-color: #345678;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: start;
}

th.freeze-vertical {
    position: sticky;
    outline: 1px solid #345678; 
    top: 1px;
    z-index: 2;
}

th[scope=row].freeze-horizontal{
    position: sticky;
    outline: 1px solid #345678;
    left: 1px;
    z-index: 3;
}

th[scope=row].freeze-horizontal.table-body{
    background-color: white;
    outline: 1px solid #345678;
    font-size: 13px;
    color: #587693;
    font-weight: 500;
    z-index: 1;
}

.table-check td, .table-check th{
    border: 1px solid var(--color-tertiary);
}

.table-check select{
    background-color: transparent;
    border: none;
    outline: none;
}

.table-check td:not(:first-child):not(:nth-child(2)){
    min-width: 200px;
}

.table-check td:first-child {
    min-width: 100px;
}

.table-check td:nth-child(2) {
    min-width: 150px;
}

.penjadwalan-select-guru{
    width: 100%;
}
.penjadwalan-select-mata-pelajaran{
    width: 100%;
}

.btn-table-active{
    border: 1px solid var(--color-tertiary) !important;
    background-color: white !important;
    color: var(--color-secondary) !important;
}

.btn{
    width: fit-content;
    padding-inline: 28px;
    min-width: 100px;
    color: white;
    background-color: var(--color-secondary);
    border-radius: 5px;
}

.status-guru-container{
    width: 140px;
    padding: 4px 6px;
    padding-left: 30px;
    position: relative;
    border-radius: 5px;
}

.status-guru-container::before{
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    top:9px;
    left:10px;
}

.guru-honorer{
    background-color: #FFAEAE;
    color: #BB1818;
}

.guru-honorer::before{
    background-color: #BB1818;
}

.guru-tetap{
    background-color: #97FDA7;
    color: #479D39;
}

.guru-tetap::before{
    background-color: #479D39;
}

.kepala-sekolah{
    background-color: #53d4e2;
    color: #063448;
}

.kepala-sekolah::before{
    background-color: #063448;
}

.admin{
    background-color: #fcffb7;
    color: #cdd22d;
}

.admin::before{
    background-color: #cdd22d;
}

.jadwal td{
    height: 120px;
    width: 120px;
}

.jadwal th{
    text-align: center;
    height: 50px;
}

.jadwal td:nth-child(2){
    left: 100px;
}

table.minimize-th th{
    height: 30px;
}

table th .text-center{
    display: flex;
    place-items: center;
    flex-direction: column;
}

button.print{
    background-color: #5AA0D4;
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding-inline: 10px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    outline: 0;
    border: 0;
}