 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #EBF7FF;
}

.sidebar{
    height: 100vh;
    width: 15vw;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgba(9, 0, 67, 0.08);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-inline: 20px;
}

.content{
    height: 100vh;
    width: 85vw;
    padding: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header .right-side{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: #5AA0D4;
    align-items: center;

}

.header .left-side{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: #0C2A58;
}

.header img{
    width: 25px;
    height: auto;
}

.header .logo-smp{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

hr#header-line{
    border: none;
    border-top: 0.031rem solid #B3C3D5; 
}