*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    font-size: 16px;
    /* border: 0.1px solid red !important; */
}

:root {
    --color-primary: #0C2A58;
    --color-secondary: #274B6F;
    --color-tertiary: #5D7893;
    --line-color: #B3C3D5;
    --background-color: #EBF7FF;
    --sidebar-color: #FFFFFF;
}

.content, .sidebar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.content::-webkit-scrollbar, .sidebar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color);
}

.sidebar{
    width: 15%;
    padding-inline: 2%;
    background-color: var(--sidebar-color);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.content{
    width: 100%;
    padding: 2% 4%;
    overflow: scroll;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

hr#header-line{
    border: 1px solid var(--line-color);
}